.text-holder,.img-holder{
  display: inline-block;
  vertical-align: top;
}
.card{
  padding-top: 30px;
  padding-bottom: 30px;
}
.img-holder img{
  max-width: 200px;
  max-height: 300px;
  width: 100%;
}
.text-holder{
  margin: 20px 0 0 15px;
  max-width: 800px;
}
#name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
#price,#size,#sexo{
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.filter-g-item:hover
{
    cursor: pointer;
}

.left-header{
    cursor: pointer;
}
.sub-items{
    cursor: pointer;
}
.regular-li{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .card{
    text-align: center;
  }
  .text-holder{
    margin-left: 0;
  }
  #name{
    font-size: 20px;
    margin-bottom: 0;
  }
  #price,#size,#sexo{
    font-size: 15px;
    padding-top: 0;
  }
}